
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

div {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text {
    background: yellow;
    border: 1px solid #000;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
    border: 1px solid #000;
    font-size: 18px;
}

.template-title {
    color: #003D6B;
}


.inner_wrap {
    margin-top: 20px;
}
.grid_wrapper {
    display: grid;
    grid-template-columns: 180px auto 180px;
    /* grid-template-columns: auto auto auto auto; */
}

.grid_wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 2fr 3fr );
}

.grid_wrapper3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16.66%); /*-auto-fill заполни автоматически если не помещаются перенеси*/
    column-gap: 20px;  row-gap: 10px;
}

.grid_wrapper4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px); /*-auto-fill заполни автоматически если не помещаются перенеси*/
}

.grid_wrapper5 {
    display: grid;
    grid-template-columns: 180px auto 180px;
    grid-template-rows: auto;
}

.grid_wrapper6 {
    display: grid;
    grid-template-columns: 180px auto 180px;
    grid-auto-rows: minmax(100px, auto); /*grid-auto-rows: 100px; - у кого нет размера*/
    /*grid-template-rows: auto;*/
    
}


.grid_wrapper7 {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-auto-rows: minmax(100px, auto); 
    justify-content: end;
    align-items: start;
   /* align-content: start;*/
    /*grid-template-rows: auto;*/
}

.inner_wrap7 {
    height: 400px;
}

.grid_wrapper7 {
    display: grid;
    grid-template-columns: 120px 220px 200px;
    grid-auto-rows: minmax(100px, auto); 
    justify-content: end;
    align-items: start;  /*items по умолчанию stretch*/
    justify-items: start; /*items по умолчанию stretch*/
    /*grid-template-rows: auto;*/
}

.grid_wrapper8 {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    
}

.grid_wrapper8 .text4 {
    justify-self: start;
    align-self: center;
}

.grid_wrapper8 .text5 {
    justify-self: end;
    
}

